.contact-container {
  margin-top: 30%;

  p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }

  form {
    font-family: 'Lato', sans-serif; 

    font-weight: bold;
  }
  
}


@media (min-width: 576px) {
  .contact-container {
    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .contact-container {
    margin-top: 20%;
  }
}

@media (min-width: 992px) {
  .contact-container {
    margin-top: 5%;
  }
}